@media all and (max-width:1000px){

.city{
  width:50%;
  margin-bottom:50px;
}
.footer{
  text-align:center;
}
.top-wrapper h1{
  font-size: 32px;
}
.menu-icon{
  display:none;
}



}

@media all and (max-width:670px){

 .city{
   width:100%;
 }

.btn{
  width:100%;
}
.facebook{
  margin-bottom:10px;
}

.header-right{
  display:none;
}
.menu-icon{
  display:block;
}

.top-wrapper h1{
  font-size:24px;
}
.top-wrapper p{
   font-size:14px;
}


}
